<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <% if (user) { %>
   			<li role="presentation"><a href="/">Todo</a></li>
              <li role="presentation"><a href="/users/logout">Logout</a></li>           
			<% } else  {%>
             
              <li role="presentation"><a href="/users/login">Login</a></li>
              <li role="presentation"><a href="/users/register">Register</a></li>
            <%  } %>
          </ul>
        </nav>
        <h3 class="text-muted">VmindsV</h3>
      </div>